body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #fff8f0;
  color: #333;
  line-height: 1.6;
}

.hero {
  background-color: #f2c6c6;
  background-size: cover;
  background-position: center;
  color: rgb(16, 1, 1);
  text-align: center;
  padding: 10px 20px;
  
}

.hero h1 {
  font-size: 3rem;
  margin-bottom: 10px;
}

.hero p {
  font-size: 1.3rem;
}

.about-section {
  max-width: 900px;
  margin: 40px auto;
  padding: 0 20px;
}

.about-section h2 {
  color:#f88e7e;
  margin-top: 30px;
}

.about-section ul {
  padding-left: 20px;
}

.about-section a {
  color: #f88e7e;
  text-decoration: none;
}

.about-section a:hover {
  text-decoration: underline;
}

footer {
  text-align: center;
  background-color: #f5cbc4;
  padding: 15px 0;
  margin-top: 40px;
  font-size: 0.9rem;
}
.creator-section {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  background-color: #fff0e6;
  margin: 50px auto;
  padding: 30px 20px;
  max-width: 900px;
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(0,0,0,0.05);
}

.creator-image img {
  width: 250px;
  height: auto;
  border-radius: 12px;
  margin-right: 30px;
  box-shadow: 2px 2px 10px rgba(0,0,0,0.1);
}

.creator-info {
  flex: 1;
  min-width: 280px;
}

.creator-info h2 {
  color: #cc6600;
  margin-bottom: 10px;
}

.creator-info p {
  font-size: 1rem;
  line-height: 1.6;
}
